.modal-backdrop.fade {
    opacity: 0.5;
}

.modal-dialog {
    padding: 20px;
    background: #fff;
}

.modal {
    overflow: hidden !important;
    opacity: 1;
    top: 70px;
}
.md-text-adj{
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
