                    <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body"> 
                                        
                                        <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"    class="table table-striped dt-responsive nowrap" width="100%">
                                         
                      
                                        </table>
                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <router-outlet></router-outlet>
<!-- 
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table> -->

                                        <!-- <table id="datatable-buttons"  class="table table-striped dt-responsive nowrap" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Slno.</th>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Author Name</th>
                                                    <th>Publish Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                    
                                        </table> -->
                                        
                     <!--  <router-outlet></router-outlet> -->