
                  <app-header></app-header>
                     <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);"> Article </a></li>
                                            <li class="breadcrumb-item active">View Article </li>
                                        </ol>
                                    </div>
                                     <h4 class="page-title">View Article 
                                        <a href="#" data-toggle="modal" data-target="#add-new-task-modal"  data-type="add" class="btn btn-success btn-sm ml-3 modal-event"><i class="mdi mdi-plus-circle-outline"></i> Add Article </a></h4>
                                </div>
                            </div>
                        </div>     
                
                        <!-- end page title --> 
        <!--  Add new task modal -->
          <app-create-article></app-create-article>
          <router-outlet></router-outlet>
                        <!-- end row-->
                       <!-- <app-article-list></app-article-list> -->

                        <!-- end row-->
                          
                        <!-- end row-->
                    </div> <!-- container -->

 
 <!-- <div class="wrapper">
    <div class="content">
      <app-header></app-header>
                    <div class="container-fluid">
                      
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item">
                                              <a href="javascript: void(0);"> Article </a></li>
                                            <li class="breadcrumb-item active">View Article</li>
                                        </ol>
                                    </div>
                                     <h4 class="page-title">View Article
                                        <a [routerLink]="['/article-list/create-article']" data-type="add" class="btn btn-success btn-sm ml-3 modal-event"><i class="mdi mdi-plus-circle-outline"></i> Add Article</a></h4>
                                </div>
                            </div>
                        </div>     
  
      
                             
                       
                       <router-outlet></router-outlet>
                        
                    </div> 
                </div>
                 <app-footer></app-footer>  
              </div>  --><app-footer></app-footer> 
                      <!-- App js -->
       